name: fab_menu
description: A menu of floating action buttons which appear around the floating action button
version: 0.0.1
homepage: https://github.com/zubariaayub634/fab_menu

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: